.form-container{
    margin-top: 3%;
    margin-bottom: 3%;
}
.register-form{
    padding: 4%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.register-form h3{
    font-size: 24px;
    text-align: left;
    color: #295d76;
}

.check-form{
    padding: 4%;
    background: #53c676;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.check-form h3{
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.register-form .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: midnightblue;
}

.register-form .badge-success {
    background-color: #53c676;
}

.check-form .btnSubmit {
    font-weight: 600;
    color: white;
    background-color: midnightblue;
}

.check-form .badge-available {
    display: inline;
    clear: both;
    color: #fff;
    font-size: 17px;
    background-color: #0dff00;
}

.check-form .badge-warning {
    display: inline;
    clear: both;
    font-size: 17px;
}
.badge-rif {
    color: #fff;
    background-color: greenyellow;
}

.check-form label {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

.error {
    color: #ff0000;
    padding: 20px;
}

.badge {
    color: #fff !important;
}

.card {
    display: none;
    min-height: 145px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}

.two-elements {
    min-height: 300px !important;
}

.card .box {
    position:absolute;
    left:0;
    text-align:left;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.card .box label {
    color:#495057;
    margin-bottom: 0 !important;
    font-weight: bold;
}

.card .box p {
    color:#495057;
}

.card .box span {
    display:inline-flex;
}

/* From RNS-manager */
h2 {
	font-size: 24px;
	margin: 30px 0 10px;
}

h3 { 
    font-size: 20px;
    padding-bottom: 20px;
}

.content-wrap {
	padding: 0;
}

.page-header {
    position: relative;
    width: 100% !important;
	background-image: url(../images/bg-page-header.png), linear-gradient(90deg, #172b36 0, #172b36 24%, #172e3a 32%, #163849 50%, #15516c 82%, #155b7b 99%, #155f81 100%, #155c7c 0);
	background-repeat: no-repeat;
	background-position: left 50%
}

@media (min-width:768px) {
	.page-header {
		height: 250px
    }
}

.logo {
    height: 63px;
}

h1.page-title {
    margin-bottom: -5px;
}

.logo-custom{
    height: 80px;
}

.label-free{
    background-color: #53c676;
    font-weight: bolder;
    color: white;
    padding: 4px;
    border-radius: 5%;
}

@media (min-width: 768px){
	.page-header {
		height: 110px;
	}
}

@media screen and (max-width: 601px) {
    .register-form h3,.check-form h3, h2 {
        font-size: 18px !important;        
    }
    .form-container span, .form-container input{
        font-size: 13px !important;
    }
    h3 {
        font-size: 14px !important;
    }
    label {
        font-size: 14px !important;
    }
    .form-container > div{
        margin: 2px;
    }
    #captchaImg{
        height: 80px!important;
        margin-bottom: 10px;
    }
}

#domain{
    text-transform: lowercase;
}

#domain-status-result p {
	font-size: 18px!important;
    margin: 30px 0 10px!important;
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 30px;
    color: #006ebe;
    letter-spacing: 1px;
}

.alert-danger {
	margin-top: 10px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.register-content{
	min-height: 100px;
    padding: 20px 0 0 0;
}

#bid .input-group {
	height: 50px;
}

.row .space {
	padding: 20px 15px;
}

.domain-registration-stage-panel {
	padding-top: 20px;
}

#start-auction .alert-success {
	margin-top: 20px;
    padding-bottom: 20px;
}

#bid .auction-date, #bid .auction-end-date {
	font-weight: bold;
}

#bid .btn.btn-default.addeventatc {
	background: #53c676!important;
	color: #fff!important;
    font-family: Roboto Condensed,sans-serif;
    padding: 16px 12px 12px 43px;
    height: 50px;
    box-shadow: none;
}

#error-detail{
	font-size: 11px;
    line-height: 11px;
}

.setup ol li {
	padding-bottom: 15px;
}

.on-error .input-group-addon{
    border-color: red;
    background: rgba(255,0,0,0.1);
}

.on-error .form-control{
    border-color: red;
}


@media(max-width: 520px) {
    .address-text {
        width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loading {
    margin: 0 10px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.error-message {
    display: none;
    color: red;
    font-weight: bold;
}

.content-info {
	padding: 20px 0 10px;
	background: #172b36;
	color: #287596;
	font-size: 16px;
	font-weight: 300
}

.content-info p {
	color: #287596
}

.content-info a,
.content-info a:active,
.content-info a:hover,
.content-info a:visited {
	color: #53c676
}

.content-info .soc-link,
.content-info .soc-link:hover {
	color: #172b36
}

.content-info h4 {
	color: #d7d7d7;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
	font-family: Roboto Condensed, sans-serif;
	letter-spacing: .5px;
	margin: 0 0 20px
}

@media (min-width:992px) {
	.content-info h4 {
		padding-top: 0
	}
}

.content-info .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 16px
}

.content-info .menu .menu-item {
	margin-bottom: 5px
}

.page-section {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center
}

.page-section,
.page-section .container {
	position: relative
}

.home .page-section {
	min-height: 100vh;
	padding: 50px 0
}

.page-section h2 {
	font-family: Roboto Condensed, sans-serif;
	font-weight: 700;
	letter-spacing: .5px;
	color: #172b36;
	margin: 0
}

.page-section h3 {
	font-size: 35px;
	font-weight: 300;
	margin-top: 15px
}

.home .page-section h2+p {
	font-size: 20px;
	margin-top: 57px;
	font-weight: 300;
	color: #129dd9
}

.invalid-feedback {
    display: inline;
    clear: both;
    font-size: 1rem;
    font-weight: bold;
    color: #dc3545 !important;
}

.valid-feedback {
    display: inline;
    clear: both;
    font-size: 1rem;
    font-weight: bold;
    color: #3e9859 !important;
}
.code{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

body{
    word-break: break-word;
}

.text-green{
    color:#53c676;
}

@media (max-width:768px) {
	.no-mobile{
        display: none;
    }
}

.g-recaptcha {
    display: inline-block;
}